page-home {
  // Entry Section
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    h2 {
      margin: 0;
    }
  }
  ion-item-options button {
    width: 80px;
  }
  ion-item.item {
    padding: 0;
  }
  input {
    border: none !important;
    box-shadow: none !important;
  }

  // Winner Section
  .winner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    h2 {
      color: color($colors, dark, base);
      margin: 0;
      display: flex;
      justify-content: center;
      font-size: 48px;
      align-items: center;
      flex-wrap: wrap;
      span.name {
        font-size: 60px;
        width: 100%;
        text-align: center;
        color: color($colors, primary, base);
        word-break: break-word;
      }
    }
    button.retry {
      margin-bottom: .75em !important;
    }
  }

  // Spinner
  .spinner-container {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    ion-spinner * {
      width: 100px;
      height: 100px;
      stroke: color($colors, secondary, base) !important;
      fill: color($colors, primary, base) !important;
    }
    ion-spinner {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
    }
  }
}
